@media (max-width: 800px) {
  .main-container {
    display: inline;
  }
  header {
    background-color: white;
    width: 100%;
    height: auto;
    padding: 1rem 5rem;
    .header-text {
      position: static;
      width: 100%;
      border-bottom: 1px solid black;
    }
    h1 {
      br {
        display: none;
      }
    }
    h1,
    p:not(.note-text),
    form,
    textarea,
    li {
      margin-bottom: 1rem;
    }
  }

  main {
    background-color: white;
    width: 100%;
    form {
      label {
        margin-bottom: 3rem;
        font-size: 4rem;
        color: black;
        margin-top: 0rem;
      }
    }
    h2 {
      margin-bottom: 1rem;
    }
    p {
      margin-bottom: 1rem;
    }
  }

  header,
  main {
    padding: 1rem 5rem;
  }
}
